.notePage {
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  > form {
    display: flex;
    flex-direction: column;

    > label {
      display: flex;
      flex-direction: column;
      margin: 10px;

      input {
        padding: 4px;
        font-size: 18px;
      }
    }
  }
}

.restrictedAccessError {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userNote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
