.dashboard {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  padding: 1.5rem;
  gap: 1rem;
  height: 100vh;

  div {
    // Allows the table to scroll when the screen is too small to show all the
    // data at once
    overflow: auto;

    table {
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.25rem;
      // Removes the default border between cells
      border-collapse: collapse;
    }

    thead {
      height: 3rem;
      text-align: left;
    }

    th {
      padding: 0 1rem;
      height: 3rem;
    }

    td {
      padding: 1rem;
      vertical-align: middle;
    }
  }
}

.selectedItem {
  background-color: #ded0b6;
}

.animalForm {
  position: sticky;
  top: 0;
  padding: 1.5rem;

  label {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  input {
    display: flex;
    height: 1rem;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid;
    padding: 0.75rem 0.5rem;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
}
