* {
  margin: 0;
  padding: 0;
}

body {
  background: teal;
}

nav {
  width: 100vw;
  height: 4rem;
  background: tan;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div a {
    margin: 4px;
  }
}

.error {
  color: red;
  background: grey;
}
