* {
  margin: 0;
  padding: 0;
}

body {
  background: #fdf7e4;
  // Avoid fixed footer obscuring content
  padding-bottom: 50px;
}

nav {
  width: 100vw;
  height: 4rem;
  background: #ded0b6;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  > div a {
    margin: 0.25rem;
    color: #000;
  }
}

.error {
  color: red;
  background: grey;
}

.logoutButton {
  padding: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
}

button {
  font-size: 0.875rem;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}
